.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #b749a7;
}

body.dark .footer {
  background-color: #1db954;
}

#github {
  background: url('../Assets/github.svg') center center no-repeat;
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#facebook {
  background: url('../Assets/facebook.svg') center center no-repeat;
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#instagram {
  background: url('../Assets/instagram.svg') center center no-repeat;
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
