#audio {
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #fff;
}

body.dark #audio {
  background-color: #1b1c21;
}

#canvas {
  bottom: 0;
  position: fixed;
  margin-bottom: 5.5rem;
}

#content {
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

body.dark #content {
  background-color: #1b1c21;
}

body.dark .logo-container {
  background-color: #141419;
  border: 1px solid #1b1c21;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 350px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  margin: 0 auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 8rem;
  z-index: 1;
  top: 0;
  opacity: 0.9;
}

.file {
  color: #000;
  margin-left: 9rem;
}

body.dark .file {
  color: #1db954;
}

#logo {
  background: url('../Assets/logoColorful.svg') center center no-repeat;
  display: block;
  background-size: 28rem;
  height: 28rem;
  width: 28rem;
  margin-bottom: 3rem;
}

body.dark #logo {
  background: url('../Assets/logoNeon.svg') center center no-repeat;
  display: block;
  background-size: 28rem;
  height: 28rem;
  width: 28rem;
  margin-bottom: 3rem;
}
